<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>
    <a href="/produtos"><button>Home</button></a><br>
    <hr>
    <form action="/cadastrar" method="post" enctype="multipart/form-data">
        <label for="">nome</label>
        <input  name="nome" type="text"><br>
        <input name="imagem" type="file"><br>
        <button>enviar</button>
    </form>
</body>
</html>